<div class="row">
  <div class="col-md-12 text-center">
    <h3>Personas</h3>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-bordered table-striped ">
      <thead>
        <tr>
          <th scope="col" class="text-center">Nombre</th>
          <th scope="col" class="text-center">Edad</th>
          <th scope="col" class="text-center">Sexo</th>
          <th scope="col" class="text-center">Documento</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let persona of personas">
          <td> {{ persona.nombre }} </td>
          <td class="text-center"> {{ persona.edad }} </td>
          <td class="text-center"> {{ persona.sexo }} </td>
          <td class="text-center"> {{ persona.documento }} </td>
        </tr>
      </tbody>
    </table>

  </div>

</div>