<div class="row">
  <div class="col-md-4 text-center">
    <div class="form-group">
      <label for="nombre">Nombre:</label>
      <input type="text" class="form-control" id="nombre" [(ngModel)]="nombre" placeholder="Ingrese el nombre">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-4 text-center">
    <button class="btn btn-secondary">
      Subir documento</button>
  </div>
</div>

<div class="row">
  <div class="col-md-4 text-center">
    <button class="btn btn-primary" (click)="guardar()">Guardar</button>
  </div>
</div>
